<ion-header>
  <ion-toolbar>
    <ion-title>Ejercicio 5</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-grid class="container">
    <ion-row>
      <ion-col  class="img" size-xs="12" size-sm="12" size-md="6" ><ion-img src="https://montblancmx.vteximg.com.br/arquivos/ids/158778-1000-1000/11654863_1.png?v=636962410907030000"></ion-img></ion-col>
     
    </ion-row>
    <ion-row >
      <ion-col  size-md="6" size-sm="6"> <h1>Pulsera de Titanio</h1></ion-col>
      <ion-col  size-sm="6" size-md="12" > <ion-label>
        Una pulsera de titanio es un elegante accesorio de joyería confeccionado en titanio,
         un metal reconocido por su ligereza, durabilidad y resistencia a la corrosión.
          Su diseño puede variar desde estilos simples y modernos hasta opciones más elaboradas con eslabones,
           grabados o incrustaciones de piedras preciosas. 
      </ion-label></ion-col>
    </ion-row>

      

  </ion-grid>
</ion-content>
